<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="5b92ad5fb57a4a67b6855c35a4e3cd21" class="chart-container" style="width:400px; height:200px; "></div>
    <script>
        var chart_5b92ad5fb57a4a67b6855c35a4e3cd21 = echarts.init(
            document.getElementById('5b92ad5fb57a4a67b6855c35a4e3cd21'), 'white', {renderer: 'canvas'});
        var option_5b92ad5fb57a4a67b6855c35a4e3cd21 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "\u70ed\u8bcd",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                9,
                66
            ],
            "data": [
                {
                    "name": "\u5feb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(13,125,99)"
                    }
                },
                {
                    "name": "\u8dd1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(135,62,92)"
                    }
                },
                {
                    "name": "\u522b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(78,15,70)"
                    }
                },
                {
                    "name": "\u56de\u5934",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(44,128,62)"
                    }
                },
                {
                    "name": "\u6307\u6570",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(56,84,124)"
                    }
                },
                {
                    "name": "\u771f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(141,23,126)"
                    }
                },
                {
                    "name": "\u5f3a\u52b2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(118,130,52)"
                    }
                },
                {
                    "name": "\u8f7b\u4ed3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(48,117,110)"
                    }
                },
                {
                    "name": "\u5927\u76d8\u80a1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(156,77,34)"
                    }
                },
                {
                    "name": "\u672c\u5468",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(156,23,147)"
                    }
                },
                {
                    "name": "\u82e5\u80fd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(86,11,109)"
                    }
                },
                {
                    "name": "\u7ad9\u7a33",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(106,13,0)"
                    }
                },
                {
                    "name": "\u56de\u6765",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(115,17,14)"
                    }
                },
                {
                    "name": "\u6d3e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(15,91,36)"
                    }
                },
                {
                    "name": "\u4e00",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(112,23,42)"
                    }
                },
                {
                    "name": "\u4e07\u80a1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(83,148,127)"
                    }
                },
                {
                    "name": "\u56db\u767e\u5757",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(25,34,38)"
                    }
                },
                {
                    "name": "\u725b\u6279",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(107,8,125)"
                    }
                },
                {
                    "name": "\u4e1c\u8d22\u5411",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(41,110,108)"
                    }
                },
                {
                    "name": "\u817e\u8fc5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(124,49,73)"
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(16,149,159)"
                    }
                },
                {
                    "name": "\u56de\u8d2d",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(145,68,15)"
                    }
                },
                {
                    "name": "\u5df2\u8fbe",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(107,155,149)"
                    }
                },
                {
                    "name": "\u4ebf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(107,26,109)"
                    }
                },
                {
                    "name": "\u5360",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(96,10,45)"
                    }
                },
                {
                    "name": "\u5229\u6da6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(65,26,66)"
                    }
                },
                {
                    "name": "\u4e09\u5206\u4e4b\u4e8c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(103,110,73)"
                    }
                },
                {
                    "name": "\u53e6\u4e1c\u8d22",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(104,104,88)"
                    }
                },
                {
                    "name": "\u540e\u53f0",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(138,115,33)"
                    }
                },
                {
                    "name": "\u4e71\u5220",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(75,82,28)"
                    }
                },
                {
                    "name": "\u5bf9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(142,16,39)"
                    }
                },
                {
                    "name": "\u81ea\u5df1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(141,16,62)"
                    }
                },
                {
                    "name": "\u597d",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(36,83,85)"
                    }
                },
                {
                    "name": "\u8d1f\u9762",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(42,93,47)"
                    }
                },
                {
                    "name": "\u8bc4\u4ef7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(38,94,69)"
                    }
                },
                {
                    "name": "\u5220",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(151,127,70)"
                    }
                },
                {
                    "name": "\u600e\u4e48",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(63,34,7)"
                    }
                },
                {
                    "name": "\u4e48",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(84,117,15)"
                    }
                },
                {
                    "name": "\u6446",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(69,32,69)"
                    }
                },
                {
                    "name": "\u5230",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(34,76,73)"
                    }
                },
                {
                    "name": "\u53f0\u9762",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(67,23,53)"
                    }
                },
                {
                    "name": "\u4e1c\u65b9",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(60,3,80)"
                    }
                },
                {
                    "name": "\u8d22\u5bcc",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(87,121,160)"
                    }
                },
                {
                    "name": "\u5403",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(139,138,148)"
                    }
                },
                {
                    "name": "\u83dc",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,132,50)"
                    }
                },
                {
                    "name": "\u4e0a\u6b21",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(144,52,130)"
                    }
                },
                {
                    "name": "\u5356",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(121,46,26)"
                    }
                },
                {
                    "name": "\u6ca1\u5356",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(116,158,7)"
                    }
                },
                {
                    "name": "\u9ad8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(137,4,140)"
                    }
                },
                {
                    "name": "\u6361\u56de\u6765",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(19,159,115)"
                    }
                },
                {
                    "name": "\u5927\u5bb6",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(98,84,152)"
                    }
                },
                {
                    "name": "\u4e1c\u8d22",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(154,115,38)"
                    }
                },
                {
                    "name": "\u4f63\u91d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(97,1,91)"
                    }
                },
                {
                    "name": "\u591a\u5c11",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(143,136,136)"
                    }
                },
                {
                    "name": "\u6ca1",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(63,87,50)"
                    }
                },
                {
                    "name": "\u4f18\u60e0",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(135,85,5)"
                    }
                },
                {
                    "name": "\u5f00\u6237",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(118,16,99)"
                    }
                },
                {
                    "name": "\u6012\u957f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(57,160,46)"
                    }
                },
                {
                    "name": "\u4e00\u5206\u8d27",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(61,87,75)"
                    }
                },
                {
                    "name": "\u6ca1\u51fa",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(130,66,158)"
                    }
                },
                {
                    "name": "\u5b8c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,79,15)"
                    }
                },
                {
                    "name": "\u7ecf\u5e38",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(43,97,113)"
                    }
                },
                {
                    "name": "\u6253\u5f00",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(137,88,19)"
                    }
                },
                {
                    "name": "K",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(157,149,130)"
                    }
                },
                {
                    "name": "\u7ebf",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(104,69,82)"
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(121,135,138)"
                    }
                },
                {
                    "name": "\u53bb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,112,34)"
                    }
                },
                {
                    "name": "\u51b2\u5230",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(126,13,54)"
                    }
                },
                {
                    "name": "\u90a3\u6839",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(38,44,76)"
                    }
                },
                {
                    "name": "\u3001",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(144,48,85)"
                    }
                },
                {
                    "name": "\u5f88",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(36,123,36)"
                    }
                },
                {
                    "name": "\u6e34\u671b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(93,88,136)"
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(141,14,145)"
                    }
                },
                {
                    "name": "\u54ea",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(159,34,153)"
                    }
                },
                {
                    "name": "\u5929\u624d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(131,119,92)"
                    }
                },
                {
                    "name": "\u8fbe\u5230",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(51,108,6)"
                    }
                },
                {
                    "name": "\u8f6c\u53d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(133,32,148)"
                    }
                },
                {
                    "name": "\u8c01",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(16,90,46)"
                    }
                },
                {
                    "name": "\u4e1c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(77,110,56)"
                    }
                },
                {
                    "name": "\u8d22\u5927",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(149,107,143)"
                    }
                },
                {
                    "name": "\u6a21\u578b",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(20,87,85)"
                    }
                },
                {
                    "name": "\u7528",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(55,95,87)"
                    }
                },
                {
                    "name": "\u641e\u61c2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(55,55,30)"
                    }
                },
                {
                    "name": "\u9694\u58c1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,44,45)"
                    }
                },
                {
                    "name": "\u7a7a\u5934",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(64,40,40)"
                    }
                },
                {
                    "name": "\u4fe1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,110,103)"
                    }
                },
                {
                    "name": "\u5929\u5929",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(134,137,65)"
                    }
                },
                {
                    "name": "\u505a\u7a7a\u4e1c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(100,122,66)"
                    }
                },
                {
                    "name": "\u8d22\u62a5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,36,97)"
                    }
                },
                {
                    "name": "\u5238\u5546",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(79,125,151)"
                    }
                },
                {
                    "name": "\u91cc\u9762",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(102,39,50)"
                    }
                },
                {
                    "name": "\u4ea4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(39,158,37)"
                    }
                },
                {
                    "name": "\u4f5c\u4e1a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(99,22,123)"
                    }
                },
                {
                    "name": "\u7b97\u65e9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(107,66,152)"
                    }
                },
                {
                    "name": "\u4f46",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(110,56,116)"
                    }
                },
                {
                    "name": "IPO",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(94,132,47)"
                    }
                },
                {
                    "name": "\u627f\u9500",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(146,90,50)"
                    }
                },
                {
                    "name": "\u6765\u770b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(82,115,118)"
                    }
                },
                {
                    "name": "\u660e\u663e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(69,142,125)"
                    }
                },
                {
                    "name": "\u51cf\u7f13",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(104,11,19)"
                    }
                },
                {
                    "name": "\u4e1a\u7ee9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(18,158,43)"
                    }
                },
                {
                    "name": "\u9884\u671f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(119,83,26)"
                    }
                },
                {
                    "name": "\u4e1c\u8d22\u597d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(135,2,160)"
                    }
                },
                {
                    "name": "\u4e3a\u4ec0\u4e48",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,44,102)"
                    }
                },
                {
                    "name": "\u6da8",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(123,45,145)"
                    }
                },
                {
                    "name": "/",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(111,13,53)"
                    }
                },
                {
                    "name": "\u8bc1\u76d1\u4f1a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(120,36,82)"
                    }
                },
                {
                    "name": "\u53d1\u5e03",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(139,86,38)"
                    }
                },
                {
                    "name": "\u300a",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(56,140,82)"
                    }
                },
                {
                    "name": "\u5173\u4e8e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,131,88)"
                    }
                },
                {
                    "name": "\u52a0\u5f3a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(99,10,22)"
                    }
                },
                {
                    "name": "\u4e0a\u5e02\u516c\u53f8",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(16,49,151)"
                    }
                },
                {
                    "name": "\u76d1\u7ba1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(145,52,13)"
                    }
                },
                {
                    "name": "\u610f\u89c1",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(23,119,23)"
                    }
                },
                {
                    "name": "\u8bd5\u884c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(126,80,119)"
                    }
                },
                {
                    "name": "\u300b",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(6,6,157)"
                    }
                },
                {
                    "name": "\u63d0\u51fa",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(108,32,123)"
                    }
                },
                {
                    "name": "\u4ee5",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(93,102,72)"
                    }
                },
                {
                    "name": "\u73b0\u91d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(109,86,71)"
                    }
                },
                {
                    "name": "\u4e3a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(45,152,39)"
                    }
                },
                {
                    "name": "\u5bf9\u4ef7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,76,42)"
                    }
                },
                {
                    "name": "\u91c7\u7528",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(92,42,70)"
                    }
                },
                {
                    "name": "\u7ea6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(130,59,46)"
                    }
                },
                {
                    "name": "\u65b9\u5f0f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(119,29,142)"
                    }
                },
                {
                    "name": "\u96c6\u4e2d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(102,31,4)"
                    }
                },
                {
                    "name": "\u7ade\u4ef7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(141,31,122)"
                    }
                },
                {
                    "name": "\u80a1\u4efd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(69,83,81)"
                    }
                },
                {
                    "name": "\u5e76",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(68,98,127)"
                    }
                },
                {
                    "name": "\u6ce8\u9500",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(127,127,141)"
                    }
                },
                {
                    "name": "\u91d1\u989d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(104,120,144)"
                    }
                },
                {
                    "name": "\u7eb3\u5165",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(28,151,70)"
                    }
                },
                {
                    "name": "\u80a1\u5229",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(113,68,51)"
                    }
                },
                {
                    "name": "\u652f\u4ed8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(146,36,156)"
                    }
                },
                {
                    "name": "\u7387",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(33,142,40)"
                    }
                },
                {
                    "name": "\u8ba1\u7b97",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(105,11,80)"
                    }
                },
                {
                    "name": "\u7406",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(129,133,79)"
                    }
                },
                {
                    "name": "\u8be5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(75,73,76)"
                    }
                },
                {
                    "name": "\u8865\u6da8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(123,117,107)"
                    }
                },
                {
                    "name": "\u5927\u8dcc",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(108,19,51)"
                    }
                },
                {
                    "name": "\u6ca1\u5546\u91cf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,105,114)"
                    }
                },
                {
                    "name": "\u5b63\u5ea6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(48,148,16)"
                    }
                },
                {
                    "name": "\u5317\u5411",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(38,146,31)"
                    }
                },
                {
                    "name": "\u51cf\u6301",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(130,113,48)"
                    }
                },
                {
                    "name": "\u4ebf\u80a1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(22,118,63)"
                    }
                },
                {
                    "name": "\u6301\u7eed",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(133,22,114)"
                    }
                },
                {
                    "name": "\u6d41\u51fa",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(132,106,44)"
                    }
                },
                {
                    "name": "\u539f\u56e0",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(27,119,149)"
                    }
                },
                {
                    "name": "\u4ee5\u524d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(83,102,83)"
                    }
                },
                {
                    "name": "\u6765\u5957",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(20,69,49)"
                    }
                },
                {
                    "name": "\u6563\u6237",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(107,93,128)"
                    }
                },
                {
                    "name": "\u4eec",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(121,110,7)"
                    }
                },
                {
                    "name": "\u4e2d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(103,44,23)"
                    }
                },
                {
                    "name": "\u5238\u8305",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(51,117,3)"
                    }
                },
                {
                    "name": "\u6700\u8fd1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(71,136,14)"
                    }
                },
                {
                    "name": "\u600e\u4e48\u56de\u4e8b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(26,80,49)"
                    }
                },
                {
                    "name": "\u5440",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(123,119,16)"
                    }
                },
                {
                    "name": "\u770b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(139,137,14)"
                    }
                },
                {
                    "name": "\u5176\u5b83",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(136,100,33)"
                    }
                },
                {
                    "name": "\u591a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(4,115,121)"
                    }
                },
                {
                    "name": "\u6da8\u5e45",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(131,75,142)"
                    }
                },
                {
                    "name": "\u5927",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(54,98,35)"
                    }
                },
                {
                    "name": "\u52a8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(160,83,79)"
                    }
                },
                {
                    "name": "\u5047\u5982",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,17,76)"
                    }
                },
                {
                    "name": "\u5c0f\u725b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(96,74,130)"
                    }
                },
                {
                    "name": "\u5e02",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(5,108,11)"
                    }
                },
                {
                    "name": "\u80a1\u52a8\u4e1c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(108,60,37)"
                    }
                },
                {
                    "name": "\u8d22\u52a8\u5999",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(92,116,14)"
                    }
                },
                {
                    "name": "\u60f3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,148,78)"
                    }
                },
                {
                    "name": "AI",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(68,81,84)"
                    }
                },
                {
                    "name": "\u91d1\u878d",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(43,142,118)"
                    }
                },
                {
                    "name": "\u5fae\u6da8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(83,140,12)"
                    }
                },
                {
                    "name": "\u4e00\u5206",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(67,21,34)"
                    }
                },
                {
                    "name": "\u8dcc\u89d2\u6da8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(110,45,3)"
                    }
                },
                {
                    "name": "\u4e00\u5929",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(27,52,66)"
                    }
                },
                {
                    "name": "\u8dcc",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(105,21,42)"
                    }
                },
                {
                    "name": "\u4e09\u5929",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(157,63,88)"
                    }
                },
                {
                    "name": "\u718a\u718a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(117,112,48)"
                    }
                },
                {
                    "name": "\u718a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(34,88,127)"
                    }
                },
                {
                    "name": "+",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(138,23,158)"
                    }
                },
                {
                    "name": "\u4e1c\u8d22\u9760",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(90,73,133)"
                    }
                },
                {
                    "name": "\u5229\u597d",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(96,50,17)"
                    }
                },
                {
                    "name": "\u6d3b\u7740",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(155,9,94)"
                    }
                },
                {
                    "name": "\u5151\u73b0",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(110,95,130)"
                    }
                },
                {
                    "name": "\u7b2c\u4e8c\u5929",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(90,92,94)"
                    }
                },
                {
                    "name": "\u56de\u53bb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(63,111,12)"
                    }
                },
                {
                    "name": "\u795e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(57,135,126)"
                    }
                },
                {
                    "name": "\u9884\u8a00",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(96,127,95)"
                    }
                },
                {
                    "name": "\u4e0a\u6574",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,82,151)"
                    }
                },
                {
                    "name": "\u673a\u6784",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,120,16)"
                    }
                },
                {
                    "name": "\u4e00\u76f4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(154,157,13)"
                    }
                },
                {
                    "name": "\u677f\u5757",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(141,139,72)"
                    }
                },
                {
                    "name": "\u91cc",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(117,46,102)"
                    }
                },
                {
                    "name": "\u5438",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(64,54,68)"
                    }
                },
                {
                    "name": "\u7b79\u7801",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(113,13,40)"
                    }
                },
                {
                    "name": "\u56e0\u4e3a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(33,111,4)"
                    }
                },
                {
                    "name": "\u4ee5\u5f80",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(102,141,95)"
                    }
                },
                {
                    "name": "\u6bcf\u4e00\u6ce2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(30,12,66)"
                    }
                },
                {
                    "name": "\u50cf\u6837",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(148,36,27)"
                    }
                },
                {
                    "name": "\u725b\u5e02",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(143,120,135)"
                    }
                },
                {
                    "name": "\u884c\u60c5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(128,101,86)"
                    }
                },
                {
                    "name": "\u786e\u5b9a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(143,130,102)"
                    }
                },
                {
                    "name": "\u7cbe\u5f69",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(58,28,72)"
                    }
                },
                {
                    "name": "\u800c\u65ad",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(65,49,3)"
                    }
                },
                {
                    "name": "\u4e0a\u6da8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,96,17)"
                    }
                },
                {
                    "name": "\u4f1a",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(144,57,42)"
                    }
                },
                {
                    "name": "\u8fdf\u5230",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(128,138,118)"
                    }
                },
                {
                    "name": "\u4e00\u5b9a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(143,130,123)"
                    }
                },
                {
                    "name": "\u6765",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(108,65,106)"
                    }
                },
                {
                    "name": "\u8fc7\u7a0b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(75,21,4)"
                    }
                },
                {
                    "name": "\u5f88\u4eba",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(72,24,131)"
                    }
                },
                {
                    "name": "\u96be\u53d7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(100,125,56)"
                    }
                },
                {
                    "name": "\u5404\u4f4d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(117,82,120)"
                    }
                },
                {
                    "name": "\u62ff",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(98,91,133)"
                    }
                },
                {
                    "name": "\u7b49\u5f85",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(15,34,78)"
                    }
                },
                {
                    "name": "\u8089",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(142,136,66)"
                    }
                },
                {
                    "name": "\u624b\u7eed\u8d39",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(109,59,18)"
                    }
                },
                {
                    "name": "\u65b0\u624b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(147,11,3)"
                    }
                },
                {
                    "name": "\u95ee\u95ee",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(115,9,23)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "normal": {
                    "fontFamily": "cursive"
                },
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u70ed\u8bcd",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_5b92ad5fb57a4a67b6855c35a4e3cd21.setOption(option_5b92ad5fb57a4a67b6855c35a4e3cd21);
    </script>
</body>
</html>
