<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="bb16d6e03ec14ff8903aa9e3fa7da815" class="chart-container" style="width:400px; height:200px; "></div>
    <script>
        var chart_bb16d6e03ec14ff8903aa9e3fa7da815 = echarts.init(
            document.getElementById('bb16d6e03ec14ff8903aa9e3fa7da815'), 'white', {renderer: 'canvas'});
        var option_bb16d6e03ec14ff8903aa9e3fa7da815 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "\u70ed\u8bcd",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                9,
                66
            ],
            "data": [
                {
                    "name": "\u8f6c\u53d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(118,45,52)"
                    }
                },
                {
                    "name": "\u6563\u6237",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(100,40,157)"
                    }
                },
                {
                    "name": "\u96c6\u4e2d\u8425",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(60,158,59)"
                    }
                },
                {
                    "name": "\u4e0a\u5468",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(155,126,36)"
                    }
                },
                {
                    "name": "\u5176\u5b9e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(131,65,7)"
                    }
                },
                {
                    "name": "\u8bb2\u8fc7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(137,145,23)"
                    }
                },
                {
                    "name": "\u5982\u679c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(132,68,130)"
                    }
                },
                {
                    "name": "\u5927",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(124,10,87)"
                    }
                },
                {
                    "name": "\u8d44\u91d1",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(75,53,33)"
                    }
                },
                {
                    "name": "\u63a7\u76d8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(52,142,90)"
                    }
                },
                {
                    "name": "\u5b81\u613f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(67,58,111)"
                    }
                },
                {
                    "name": "\u7b49",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(7,106,133)"
                    }
                },
                {
                    "name": "\u8fc7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(28,44,15)"
                    }
                },
                {
                    "name": "\u5468\u4e09",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(116,16,98)"
                    }
                },
                {
                    "name": "\u4ee5\u540e",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(86,1,114)"
                    }
                },
                {
                    "name": "\u518d",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(160,25,58)"
                    }
                },
                {
                    "name": "\u62c9\u5347",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(89,102,58)"
                    }
                },
                {
                    "name": "\u51e0",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(114,63,95)"
                    }
                },
                {
                    "name": "\u539f\u56e0",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(76,29,101)"
                    }
                },
                {
                    "name": "\u7b2c\u4e00",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(7,92,44)"
                    }
                },
                {
                    "name": "\u80fd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(19,85,34)"
                    }
                },
                {
                    "name": "\u5f3a\u52bf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(97,29,131)"
                    }
                },
                {
                    "name": "\u7136\u5468\u7ebf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(18,92,125)"
                    }
                },
                {
                    "name": "\u5e8f\u5217",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(110,133,102)"
                    }
                },
                {
                    "name": "\u9ad8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(40,48,13)"
                    }
                },
                {
                    "name": "\u5229\u4e8e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(21,85,49)"
                    }
                },
                {
                    "name": "\u540e\u9762",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(99,108,115)"
                    }
                },
                {
                    "name": "\u7b2c\u4e8c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(149,87,137)"
                    }
                },
                {
                    "name": "\u524d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(150,160,83)"
                    }
                },
                {
                    "name": "\u538b\u5236",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,27,120)"
                    }
                },
                {
                    "name": "\u5389\u5bb3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(53,156,39)"
                    }
                },
                {
                    "name": "\u671f\u6743",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(100,67,143)"
                    }
                },
                {
                    "name": "\u53cc\u5411",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(48,69,91)"
                    }
                },
                {
                    "name": "\u6536\u5272",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(85,147,97)"
                    }
                },
                {
                    "name": "\u6a21\u5f0f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(105,105,132)"
                    }
                },
                {
                    "name": "\u4e3b\u529b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(4,74,147)"
                    }
                },
                {
                    "name": "\u4f1a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(151,34,113)"
                    }
                },
                {
                    "name": "\u5c3d\u91cf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(116,117,83)"
                    }
                },
                {
                    "name": "\u4e09\u4efd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(106,40,4)"
                    }
                },
                {
                    "name": "\u4e2d\u4f4d\u6570",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(84,124,140)"
                    }
                },
                {
                    "name": "\u9644\u8fd1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(144,100,153)"
                    }
                },
                {
                    "name": "\u4ea4\u5272",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(17,95,13)"
                    }
                },
                {
                    "name": "\u6628\u4e00",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(90,120,91)"
                    }
                },
                {
                    "name": "\u7559\u8a00",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(130,56,108)"
                    }
                },
                {
                    "name": "\u91cc\u9762",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(19,97,14)"
                    }
                },
                {
                    "name": "\u8c08\u8fc7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(101,101,96)"
                    }
                },
                {
                    "name": "\u6caa",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(75,64,80)"
                    }
                },
                {
                    "name": "\u6df1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(62,82,107)"
                    }
                },
                {
                    "name": "\u7b2c\u4e09",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(93,118,2)"
                    }
                },
                {
                    "name": "\u62d6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(34,139,19)"
                    }
                },
                {
                    "name": "\u51e0\u5929",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(136,135,112)"
                    }
                },
                {
                    "name": "\u7a7a\u5934",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(51,70,22)"
                    }
                },
                {
                    "name": "\u6d88\u8017",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(137,155,148)"
                    }
                },
                {
                    "name": "\u65b9\u4fbf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(160,96,151)"
                    }
                },
                {
                    "name": "\u725b\u5e02",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,58,83)"
                    }
                },
                {
                    "name": "\u4e00\u6d6a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(37,26,71)"
                    }
                },
                {
                    "name": "\u5468\u671f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(119,23,120)"
                    }
                },
                {
                    "name": "\u8ba1\u7b97",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(4,101,82)"
                    }
                },
                {
                    "name": "\u6e05\u695a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(67,158,111)"
                    }
                },
                {
                    "name": "\u76ee\u524d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(133,44,140)"
                    }
                },
                {
                    "name": "\u4e0a\u6da8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(128,20,119)"
                    }
                },
                {
                    "name": "\u56de\u8c03",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(66,54,24)"
                    }
                },
                {
                    "name": "m",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(108,105,137)"
                    }
                },
                {
                    "name": "\u70e4\u9c7c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(16,71,54)"
                    }
                },
                {
                    "name": "\u5efa\u4ed3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(56,158,146)"
                    }
                },
                {
                    "name": "\u4ed3\u4f4d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(15,110,132)"
                    }
                },
                {
                    "name": "\u8d8a\u8865",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(135,16,114)"
                    }
                },
                {
                    "name": "\u8d8a\u91cd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(6,157,9)"
                    }
                },
                {
                    "name": "\u76f4\u5230",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(104,20,116)"
                    }
                },
                {
                    "name": "\u73b0\u5957",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(106,103,67)"
                    }
                },
                {
                    "name": "\u7740",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(44,31,37)"
                    }
                },
                {
                    "name": "\u575a\u6301",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(136,102,60)"
                    }
                },
                {
                    "name": "\u4e09\u534a\u82e5\u80fd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(97,55,73)"
                    }
                },
                {
                    "name": "\u5fcd\u75db\u5272\u7231",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(21,1,106)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "normal": {
                    "fontFamily": "cursive"
                },
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u70ed\u8bcd",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_bb16d6e03ec14ff8903aa9e3fa7da815.setOption(option_bb16d6e03ec14ff8903aa9e3fa7da815);
    </script>
</body>
</html>
