<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="8ae05d0a0a394708a5920d205cd3d9c9" class="chart-container" style="width:400px; height:200px; "></div>
    <script>
        var chart_8ae05d0a0a394708a5920d205cd3d9c9 = echarts.init(
            document.getElementById('8ae05d0a0a394708a5920d205cd3d9c9'), 'white', {renderer: 'canvas'});
        var option_8ae05d0a0a394708a5920d205cd3d9c9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "\u70ed\u8bcd",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                9,
                66
            ],
            "data": [
                {
                    "name": "\u611f\u89c9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(7,84,52)"
                    }
                },
                {
                    "name": "\u521b\u4e1a\u677f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(92,124,158)"
                    }
                },
                {
                    "name": "\u8ddf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(81,27,51)"
                    }
                },
                {
                    "name": "\u65e0\u5173",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(133,147,158)"
                    }
                },
                {
                    "name": "\u8ddf\u7740",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(11,154,3)"
                    }
                },
                {
                    "name": "\u4e3b\u677f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(158,68,28)"
                    }
                },
                {
                    "name": "\u6da8\u8dcc",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(122,133,46)"
                    }
                },
                {
                    "name": "\u51e0\u5929",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(3,108,22)"
                    }
                },
                {
                    "name": "\u62ab\u9732",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(105,37,58)"
                    }
                },
                {
                    "name": "\u62a5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(45,139,49)"
                    }
                },
                {
                    "name": "\u67b6\u52bf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(22,51,150)"
                    }
                },
                {
                    "name": "\u96be\u9053",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(159,46,108)"
                    }
                },
                {
                    "name": "\u5999\u4e0a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(131,36,88)"
                    }
                },
                {
                    "name": "\u8d34",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(60,126,62)"
                    }
                },
                {
                    "name": "-",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(26,136,77)"
                    }
                },
                {
                    "name": "\u533a\u95f4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(25,125,30)"
                    }
                },
                {
                    "name": "\u7834\u53cd\u5148",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,20,108)"
                    }
                },
                {
                    "name": "\u770b\u7ebf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(111,63,111)"
                    }
                },
                {
                    "name": "\u652f\u6491",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(158,147,85)"
                    }
                },
                {
                    "name": "\u5348\u76d8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(78,63,54)"
                    }
                },
                {
                    "name": "\u6c6a\u6c6a",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(29,85,6)"
                    }
                },
                {
                    "name": "\u961f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(9,19,106)"
                    }
                },
                {
                    "name": "\u7528\u5c3d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(126,23,119)"
                    }
                },
                {
                    "name": "\u5403\u5976",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(69,159,28)"
                    }
                },
                {
                    "name": "\u529b\u62c9\u76d8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(125,19,114)"
                    }
                },
                {
                    "name": "\u529b\u5ea6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(19,21,151)"
                    }
                },
                {
                    "name": "\u8d85",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(82,109,70)"
                    }
                },
                {
                    "name": "\u8ba4\u77e5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(4,93,5)"
                    }
                },
                {
                    "name": "\u5468\u4e00",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(39,86,63)"
                    }
                },
                {
                    "name": "/",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(143,112,122)"
                    }
                },
                {
                    "name": "\u7f29\u91cf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(113,36,134)"
                    }
                },
                {
                    "name": "\u4ebf\u5355",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(82,118,83)"
                    }
                },
                {
                    "name": "\u770b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(2,29,92)"
                    }
                },
                {
                    "name": "\u53cd\u5305",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(53,61,46)"
                    }
                },
                {
                    "name": "k",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(93,52,125)"
                    }
                },
                {
                    "name": "\u7ebf\u9519",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(142,63,130)"
                    }
                },
                {
                    "name": "\u4f46",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(108,68,123)"
                    }
                },
                {
                    "name": "\u7f29",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,19,105)"
                    }
                },
                {
                    "name": "\u81f3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(11,57,139)"
                    }
                },
                {
                    "name": "\u4ebf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(34,109,44)"
                    }
                },
                {
                    "name": "\u6210\u4ea4\u91cf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(150,19,110)"
                    }
                },
                {
                    "name": "\u5426\u8bf1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(50,52,99)"
                    }
                },
                {
                    "name": "\u591a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(74,32,150)"
                    }
                },
                {
                    "name": "A",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(105,4,78)"
                    }
                },
                {
                    "name": "\u6b7b\u53c9",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(88,86,144)"
                    }
                },
                {
                    "name": "\u5238\u5546",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(34,3,134)"
                    }
                },
                {
                    "name": "\u4e0a\u8bc1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(159,15,109)"
                    }
                },
                {
                    "name": "\u5c06",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(147,23,61)"
                    }
                },
                {
                    "name": "\u6b7b",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(42,71,75)"
                    }
                },
                {
                    "name": "\u53c9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(117,134,106)"
                    }
                },
                {
                    "name": "\u5976\u5988",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(33,110,24)"
                    }
                },
                {
                    "name": "\u4f55\u65f6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(7,89,148)"
                    }
                },
                {
                    "name": "\u65ad\u5976",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,54,152)"
                    }
                },
                {
                    "name": "\u65f6\u95f4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(5,100,113)"
                    }
                },
                {
                    "name": "\u5468\u671f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(95,122,61)"
                    }
                },
                {
                    "name": "\u5fc5\u987b",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(6,32,79)"
                    }
                },
                {
                    "name": "\u4e70\u5165",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(115,50,121)"
                    }
                },
                {
                    "name": "\u4e1c\u6d77",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(46,146,19)"
                    }
                },
                {
                    "name": "\u8bc1\u5238",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(81,57,56)"
                    }
                },
                {
                    "name": "\u826f\u5fc3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(66,101,29)"
                    }
                },
                {
                    "name": "\u4f01\u4e1a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,3,38)"
                    }
                },
                {
                    "name": "\u56de\u62a5",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(152,54,74)"
                    }
                },
                {
                    "name": "\u793e\u4f1a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(113,48,17)"
                    }
                },
                {
                    "name": "\u80a1\u4e1c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(33,105,13)"
                    }
                },
                {
                    "name": "\u836f\u660e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(46,65,30)"
                    }
                },
                {
                    "name": "\u5eb7\u5fb7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(42,147,94)"
                    }
                },
                {
                    "name": "\u53d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(92,12,129)"
                    }
                },
                {
                    "name": "\u6ce8\u9500",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(45,28,114)"
                    }
                },
                {
                    "name": "\u516c\u544a",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(144,73,112)"
                    }
                },
                {
                    "name": "\u6da8\u53d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(8,26,76)"
                    }
                },
                {
                    "name": "\u80a1\u4ef7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(91,132,83)"
                    }
                },
                {
                    "name": "\u88c5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(142,3,34)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "normal": {
                    "fontFamily": "cursive"
                },
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u70ed\u8bcd",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_8ae05d0a0a394708a5920d205cd3d9c9.setOption(option_8ae05d0a0a394708a5920d205cd3d9c9);
    </script>
</body>
</html>
