<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="/static/css/layui.css">
</head>
<style>
    body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url('../static/img/img.png');
            background-size: cover;
            background-repeat: no-repeat; /* 禁止背景图片重复显示 */
    }

    .demo-login-container {
        width: 320px;
        margin: 21px auto 0;
    }

    .demo-login-other .layui-icon {
        position: relative;
        display: inline-block;
        margin: 0 2px;
        top: 2px;
        font-size: 26px;
    }
</style>
<body>
<div id="particles-js">
    <div class="login">
        <p class="login-top">登录</p>
        {% csrf_token %}
        <div class="login-center clearfix">
            <label class="" for="user">用户名</label>
            <input type="text" id="user" placeholder="用户名" />
        </div>

        <div class="login-center clearfix">
            <label class="iconfont labelFS" for="pwd">密码</label>
            <input type="password" id="pwd" placeholder="密码" />
        </div>

        <div class="login-center clearfix">
            <label class="iconfont labelFS" for="validcode">&#xe615;</label>
            <input type="text" id="validcode" placeholder="验证码" />
            <img src="/get_identifyCode/" alt="验证码" title="换一张" class="validImg" id="img" width="88" height="30" >
        </div>
        <a href="javascript:void(0);" class="login_btn">登录</a>
        <p class="error"></p>
    </div>
</div>

<script src="jquery.min.js"></script>

<script>
    // ajax 登录
    $(".login_btn").click(function () {
        $.ajax({
            url:"",
            type:"post",
            // data发送urlencoded格式就行，数据没那么深，没必要发json格式
            data:{
                 user:$("#user").val(),
                 pwd:$("#pwd").val(),
                 validcode:$("#validcode").val(),
                 csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
            },
            success:function (response) {
                console.log(response);
                if(response.user){
                    // 登录成功
                    location.href="/index/"
                }
                else{
                    // 登录失败
                    $(".error").html(response.err_msg)
                }
            }
        })
    });

    //  验证码刷新：img标签有一个天然的发请求的模式，即src的路径后边拼接一个问号就会发一次请求，利用这一原理可以实现验证码刷新
    $("#img").click(function () {
        this.src += "?"
    });

</script>
</body>

<script src="/static/layui.js"></script>
<script>
        $('.captcha').click(function () {
            $.getJSON('/captcha/refresh/',function (result) {
                $('.captcha').attr('src',result['image_url']);
                $('#id_captcha_0').val(result['key']);
            });
        });
</script>
{#<script>#}
{#    //生成uuid#}
{#    function generateUUID() {#}
{#        var d = new Date().getTime();#}
{#        if (window.performance && typeof window.performance.now == 'function') {#}
{#            d += performance.now();#}
{#        }#}
{#        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,#}
{#            function (c) {#}
{#                var r = (d + Math.random() * 16) % 16 | 0;#}
{#                d = Math.floor(d / 16);#}
{#                return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);#}
{#            });#}
{#        return uuid;#}
{#    }#}
{#</script>#}
{#<script>#}
{#    layui.use(function () {#}
{#        var $ =layui.$;#}
{#        var captcha_uuid = '';#}
{#        var form = layui.form;#}
{#        var layer = layui.layer;#}
{#        //点击更新验证码#}
{#        $('#captchaImage').click(function (){#}
{#            //浏览器要发起图片验证码请求/captcha_code?captcha_code_uuid=xxxxx#}
{#            captcha_uuid = generateUUID();#}
{#            document.getElementById('captchaImage').src = '/get_captcha?captcha_uuid='+captcha_uuid;#}
{#        });#}
{#        captcha_uuid = generateUUID();#}
{#        document.getElementById('captchaImage').src = '/get_captcha?captcha_uuid='+captcha_uuid;#}
{##}
{#        // 提交事件#}
{#        form.on('submit(demo-login)', function (data) {#}
{#            var field = data.field; // 获取表单字段值#}
{#            // 显示填写结果，仅作演示用#}
{#            field['captcha_uuid'] = captcha_uuid#}
{#            // 此处可执行 Ajax 等操作#}
{#            fetch('/api/login',{#}
{#                method: 'POST',#}
{#                headers: {'Content-Type': 'application/json'},#}
{#                body: JSON.stringify(field)#}
{#            }).then(response =>  response.json()).then(data=>{#}
{#                if(!data.code){#}
{#                    layer.msg(data.message,{icon: 1})#}
{#                    setTimeout(function (){#}
{#                        location.href = '/main_page'#}
{#                    },2000)#}
{#                }else {#}
{#                    layer.msg(data.message,{icon: 2})#}
{#                    setTimeout(function (){#}
{#                        location.href = '/login'#}
{#                    },200)#}
{#                }#}
{#            })#}
{#            return false; // 阻止默认 form 跳转#}
{#        });#}
{#    });#}
{#</script>#}
</html>