<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="49028d57ef9a454ab8988fcd896d05fc" class="chart-container" style="width:800px; height:400px; "></div>
    <script>
        var chart_49028d57ef9a454ab8988fcd896d05fc = echarts.init(
            document.getElementById('49028d57ef9a454ab8988fcd896d05fc'), 'white', {renderer: 'canvas'});
        var option_49028d57ef9a454ab8988fcd896d05fc = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "colorBy": "series",
            "data": [
                [
                    16.01,
                    15.85,
                    15.81,
                    16.13
                ],
                [
                    15.77,
                    15.78,
                    15.68,
                    15.92
                ],
                [
                    15.78,
                    15.69,
                    15.62,
                    15.89
                ],
                [
                    15.61,
                    15.65,
                    15.5,
                    15.79
                ],
                [
                    15.66,
                    15.74,
                    15.58,
                    15.79
                ],
                [
                    15.75,
                    15.57,
                    15.56,
                    15.76
                ],
                [
                    15.48,
                    15.29,
                    15.29,
                    15.56
                ],
                [
                    15.22,
                    15.06,
                    14.86,
                    15.37
                ],
                [
                    15.06,
                    15.1,
                    14.94,
                    15.19
                ],
                [
                    15.06,
                    14.57,
                    14.48,
                    15.14
                ],
                [
                    14.54,
                    14.39,
                    14.07,
                    14.59
                ],
                [
                    14.33,
                    13.98,
                    13.97,
                    14.38
                ],
                [
                    13.98,
                    14.16,
                    13.94,
                    14.35
                ],
                [
                    14.16,
                    14.48,
                    14.14,
                    14.52
                ],
                [
                    14.43,
                    14.39,
                    14.31,
                    14.49
                ],
                [
                    14.36,
                    14.12,
                    14.1,
                    14.48
                ],
                [
                    14.15,
                    14.25,
                    14.15,
                    14.44
                ],
                [
                    14.19,
                    14.42,
                    14.09,
                    14.54
                ],
                [
                    14.37,
                    14.19,
                    14.09,
                    14.38
                ],
                [
                    14.12,
                    14.12,
                    13.96,
                    14.21
                ],
                [
                    14.07,
                    14.33,
                    14.07,
                    14.41
                ],
                [
                    14.36,
                    14.22,
                    14.19,
                    14.54
                ],
                [
                    14.26,
                    14.61,
                    14.23,
                    14.64
                ],
                [
                    14.66,
                    14.82,
                    14.5,
                    14.86
                ],
                [
                    14.81,
                    14.69,
                    14.61,
                    14.87
                ],
                [
                    14.64,
                    14.7,
                    14.61,
                    14.91
                ],
                [
                    14.66,
                    14.26,
                    14.26,
                    14.73
                ],
                [
                    14.05,
                    13.97,
                    13.94,
                    14.19
                ],
                [
                    13.97,
                    14.12,
                    13.96,
                    14.18
                ],
                [
                    14.11,
                    14.06,
                    13.88,
                    14.14
                ],
                [
                    14.01,
                    13.97,
                    13.94,
                    14.09
                ],
                [
                    13.94,
                    14.16,
                    13.92,
                    14.3
                ],
                [
                    14.22,
                    14.41,
                    14.15,
                    14.49
                ],
                [
                    14.36,
                    14.41,
                    14.26,
                    14.45
                ],
                [
                    14.37,
                    14.2,
                    14.19,
                    14.37
                ],
                [
                    14.16,
                    14.06,
                    14.05,
                    14.26
                ],
                [
                    14.01,
                    13.98,
                    13.94,
                    14.16
                ],
                [
                    14.05,
                    14.05,
                    14.01,
                    14.21
                ],
                [
                    14.08,
                    14.14,
                    14.02,
                    14.15
                ],
                [
                    14.13,
                    13.96,
                    13.93,
                    14.21
                ],
                [
                    14.04,
                    14.45,
                    14.03,
                    14.48
                ],
                [
                    14.39,
                    14.37,
                    14.35,
                    14.5
                ],
                [
                    14.32,
                    14.2,
                    14.12,
                    14.32
                ],
                [
                    14.22,
                    14.27,
                    14.18,
                    14.35
                ],
                [
                    14.21,
                    14.33,
                    14.19,
                    14.35
                ],
                [
                    14.41,
                    14.18,
                    14.17,
                    14.45
                ],
                [
                    14.12,
                    14.17,
                    14.09,
                    14.29
                ],
                [
                    14.07,
                    14.05,
                    14.03,
                    14.17
                ],
                [
                    14.77,
                    15.06,
                    14.58,
                    15.23
                ],
                [
                    14.94,
                    14.8,
                    14.67,
                    14.99
                ],
                [
                    14.88,
                    14.63,
                    14.6,
                    14.94
                ],
                [
                    14.57,
                    16.1,
                    14.52,
                    16.31
                ],
                [
                    16.36,
                    16.04,
                    16.0,
                    16.67
                ],
                [
                    15.84,
                    15.87,
                    15.75,
                    16.29
                ],
                [
                    15.81,
                    16.13,
                    15.78,
                    16.6
                ],
                [
                    16.33,
                    16.88,
                    16.04,
                    16.92
                ],
                [
                    17.46,
                    16.92,
                    16.91,
                    17.86
                ],
                [
                    16.49,
                    16.69,
                    16.38,
                    16.83
                ],
                [
                    16.52,
                    16.58,
                    16.11,
                    17.01
                ],
                [
                    16.47,
                    16.53,
                    16.47,
                    16.89
                ],
                [
                    16.49,
                    16.93,
                    16.49,
                    16.96
                ],
                [
                    16.67,
                    16.08,
                    16.05,
                    16.68
                ],
                [
                    15.66,
                    15.85,
                    15.59,
                    16.05
                ],
                [
                    15.76,
                    16.47,
                    15.76,
                    16.53
                ],
                [
                    16.15,
                    16.22,
                    16.04,
                    16.76
                ],
                [
                    16.1,
                    16.19,
                    15.8,
                    16.31
                ],
                [
                    16.21,
                    16.03,
                    16.01,
                    16.56
                ],
                [
                    15.74,
                    15.32,
                    15.28,
                    15.86
                ],
                [
                    15.46,
                    15.62,
                    15.28,
                    15.83
                ],
                [
                    15.46,
                    15.3,
                    15.3,
                    15.54
                ],
                [
                    15.44,
                    15.58,
                    15.39,
                    15.88
                ],
                [
                    15.66,
                    15.75,
                    15.62,
                    15.92
                ],
                [
                    18.36,
                    16.36,
                    16.28,
                    18.36
                ],
                [
                    16.11,
                    16.62,
                    15.92,
                    16.93
                ],
                [
                    16.43,
                    16.18,
                    16.14,
                    16.5
                ],
                [
                    16.16,
                    15.83,
                    15.83,
                    16.29
                ],
                [
                    15.95,
                    15.94,
                    15.85,
                    16.16
                ],
                [
                    16.01,
                    16.06,
                    15.8,
                    16.14
                ],
                [
                    15.95,
                    15.85,
                    15.8,
                    15.96
                ],
                [
                    15.77,
                    15.69,
                    15.53,
                    15.78
                ],
                [
                    15.66,
                    15.6,
                    15.56,
                    15.82
                ],
                [
                    15.56,
                    15.64,
                    15.44,
                    15.71
                ],
                [
                    15.64,
                    15.78,
                    15.49,
                    15.91
                ],
                [
                    15.71,
                    15.56,
                    15.55,
                    15.72
                ],
                [
                    15.53,
                    15.34,
                    15.27,
                    15.61
                ],
                [
                    15.39,
                    15.37,
                    15.27,
                    15.43
                ],
                [
                    15.42,
                    15.35,
                    15.29,
                    15.5
                ],
                [
                    15.27,
                    15.36,
                    15.14,
                    15.48
                ],
                [
                    15.33,
                    15.27,
                    15.18,
                    15.38
                ],
                [
                    15.23,
                    15.21,
                    15.17,
                    15.33
                ],
                [
                    15.17,
                    14.91,
                    14.88,
                    15.3
                ],
                [
                    14.85,
                    15.52,
                    14.85,
                    15.56
                ],
                [
                    15.36,
                    15.16,
                    15.11,
                    15.36
                ],
                [
                    15.15,
                    15.13,
                    15.1,
                    15.23
                ],
                [
                    15.11,
                    15.14,
                    15.09,
                    15.24
                ],
                [
                    15.21,
                    15.16,
                    15.11,
                    15.25
                ],
                [
                    15.04,
                    15.08,
                    14.86,
                    15.17
                ],
                [
                    15.17,
                    15.09,
                    15.08,
                    15.29
                ],
                [
                    15.18,
                    15.19,
                    15.09,
                    15.31
                ],
                [
                    15.51,
                    15.33,
                    15.27,
                    15.55
                ],
                [
                    15.17,
                    15.09,
                    15.04,
                    15.23
                ],
                [
                    15.1,
                    14.92,
                    14.87,
                    15.12
                ],
                [
                    14.95,
                    15.09,
                    14.89,
                    15.24
                ],
                [
                    14.96,
                    14.98,
                    14.92,
                    15.11
                ],
                [
                    14.91,
                    14.93,
                    14.91,
                    15.19
                ],
                [
                    14.76,
                    14.92,
                    14.71,
                    15.04
                ],
                [
                    14.82,
                    14.5,
                    14.34,
                    14.88
                ],
                [
                    14.57,
                    14.95,
                    14.52,
                    15.07
                ],
                [
                    15.08,
                    14.87,
                    14.84,
                    15.09
                ],
                [
                    14.77,
                    14.8,
                    14.65,
                    14.85
                ],
                [
                    14.68,
                    15.02,
                    14.65,
                    15.1
                ],
                [
                    14.92,
                    15.15,
                    14.89,
                    15.2
                ],
                [
                    15.1,
                    15.23,
                    15.06,
                    15.34
                ],
                [
                    15.31,
                    15.15,
                    15.13,
                    15.45
                ],
                [
                    15.19,
                    15.01,
                    15.01,
                    15.27
                ],
                [
                    15.07,
                    15.32,
                    15.05,
                    15.38
                ],
                [
                    15.61,
                    15.75,
                    15.48,
                    15.89
                ],
                [
                    15.64,
                    15.63,
                    15.57,
                    15.75
                ],
                [
                    15.62,
                    15.53,
                    15.42,
                    15.69
                ],
                [
                    15.53,
                    15.5,
                    15.48,
                    15.63
                ],
                [
                    15.43,
                    15.39,
                    15.34,
                    15.55
                ],
                [
                    15.41,
                    15.4,
                    15.32,
                    15.45
                ],
                [
                    15.43,
                    15.51,
                    15.39,
                    15.72
                ],
                [
                    15.68,
                    15.5,
                    15.47,
                    15.74
                ],
                [
                    15.46,
                    15.25,
                    15.24,
                    15.52
                ],
                [
                    15.24,
                    15.26,
                    15.16,
                    15.31
                ],
                [
                    15.25,
                    15.21,
                    15.01,
                    15.26
                ],
                [
                    15.27,
                    15.16,
                    15.16,
                    15.42
                ],
                [
                    15.11,
                    14.96,
                    14.96,
                    15.19
                ],
                [
                    14.96,
                    15.01,
                    14.87,
                    15.02
                ],
                [
                    14.99,
                    14.84,
                    14.81,
                    14.99
                ],
                [
                    14.77,
                    14.78,
                    14.66,
                    14.83
                ],
                [
                    14.76,
                    14.77,
                    14.68,
                    14.84
                ],
                [
                    14.79,
                    14.59,
                    14.56,
                    14.82
                ],
                [
                    14.63,
                    14.6,
                    14.55,
                    14.72
                ],
                [
                    14.6,
                    14.68,
                    14.45,
                    14.73
                ],
                [
                    14.66,
                    14.68,
                    14.58,
                    14.83
                ],
                [
                    14.65,
                    14.44,
                    14.43,
                    14.65
                ],
                [
                    14.41,
                    14.37,
                    14.33,
                    14.5
                ],
                [
                    14.32,
                    14.42,
                    14.28,
                    14.49
                ],
                [
                    14.41,
                    14.33,
                    14.31,
                    14.48
                ],
                [
                    14.26,
                    14.54,
                    14.09,
                    14.61
                ],
                [
                    14.46,
                    14.47,
                    14.41,
                    14.55
                ],
                [
                    14.45,
                    14.14,
                    14.14,
                    14.45
                ],
                [
                    14.23,
                    14.11,
                    14.09,
                    14.31
                ],
                [
                    14.16,
                    14.14,
                    14.09,
                    14.3
                ],
                [
                    14.09,
                    14.12,
                    14.07,
                    14.25
                ],
                [
                    14.11,
                    14.13,
                    14.02,
                    14.2
                ],
                [
                    14.13,
                    13.82,
                    13.81,
                    14.16
                ],
                [
                    13.76,
                    13.88,
                    13.66,
                    13.99
                ],
                [
                    13.85,
                    13.85,
                    13.72,
                    13.97
                ],
                [
                    13.82,
                    13.82,
                    13.77,
                    13.88
                ],
                [
                    13.82,
                    13.65,
                    13.61,
                    13.85
                ],
                [
                    13.65,
                    13.38,
                    12.97,
                    13.7
                ],
                [
                    13.31,
                    13.92,
                    13.28,
                    14.06
                ],
                [
                    13.87,
                    14.0,
                    13.86,
                    14.07
                ],
                [
                    14.0,
                    13.76,
                    13.75,
                    14.01
                ],
                [
                    13.77,
                    13.67,
                    13.52,
                    13.82
                ],
                [
                    13.66,
                    13.42,
                    13.36,
                    13.67
                ],
                [
                    13.4,
                    13.24,
                    13.18,
                    13.57
                ],
                [
                    13.17,
                    13.03,
                    12.99,
                    13.3
                ],
                [
                    13.03,
                    13.06,
                    12.93,
                    13.19
                ],
                [
                    12.99,
                    12.94,
                    12.87,
                    13.15
                ],
                [
                    12.92,
                    13.13,
                    12.84,
                    13.22
                ],
                [
                    13.06,
                    12.91,
                    12.91,
                    13.13
                ],
                [
                    12.84,
                    12.79,
                    12.77,
                    13.04
                ],
                [
                    12.75,
                    12.89,
                    12.56,
                    12.92
                ],
                [
                    12.78,
                    12.39,
                    12.39,
                    12.8
                ],
                [
                    12.28,
                    12.78,
                    12.24,
                    12.84
                ],
                [
                    12.67,
                    12.66,
                    12.59,
                    12.76
                ],
                [
                    12.63,
                    12.37,
                    12.26,
                    12.74
                ],
                [
                    12.38,
                    12.67,
                    12.32,
                    12.8
                ],
                [
                    12.76,
                    13.23,
                    12.51,
                    13.34
                ],
                [
                    13.06,
                    13.31,
                    12.99,
                    13.48
                ],
                [
                    13.21,
                    13.08,
                    13.05,
                    13.32
                ],
                [
                    13.08,
                    12.78,
                    12.78,
                    13.17
                ],
                [
                    12.68,
                    12.52,
                    12.5,
                    12.86
                ],
                [
                    12.48,
                    12.44,
                    12.4,
                    12.65
                ],
                [
                    12.38,
                    12.65,
                    12.37,
                    12.85
                ],
                [
                    12.62,
                    12.41,
                    12.05,
                    12.72
                ],
                [
                    12.26,
                    12.29,
                    11.79,
                    12.59
                ],
                [
                    12.15,
                    13.16,
                    12.08,
                    13.24
                ],
                [
                    13.0,
                    13.09,
                    12.98,
                    13.23
                ],
                [
                    13.26,
                    13.23,
                    13.19,
                    13.43
                ],
                [
                    13.31,
                    13.19,
                    12.99,
                    13.31
                ],
                [
                    13.14,
                    13.3,
                    13.08,
                    13.42
                ],
                [
                    13.19,
                    13.58,
                    13.13,
                    14.05
                ],
                [
                    13.46,
                    13.69,
                    13.43,
                    13.78
                ],
                [
                    13.71,
                    13.69,
                    13.61,
                    13.78
                ],
                [
                    13.69,
                    13.51,
                    13.5,
                    13.72
                ],
                [
                    13.71,
                    13.98,
                    13.66,
                    13.99
                ],
                [
                    14.15,
                    13.6,
                    13.59,
                    14.32
                ],
                [
                    13.59,
                    14.0,
                    13.56,
                    14.03
                ],
                [
                    13.95,
                    13.96,
                    13.79,
                    14.13
                ],
                [
                    13.91,
                    13.79,
                    13.71,
                    13.93
                ],
                [
                    13.73,
                    13.7,
                    13.67,
                    13.83
                ],
                [
                    13.69,
                    13.75,
                    13.66,
                    13.94
                ],
                [
                    13.71,
                    13.53,
                    13.51,
                    13.84
                ],
                [
                    13.54,
                    13.52,
                    13.42,
                    13.62
                ],
                [
                    13.55,
                    13.75,
                    13.48,
                    13.75
                ],
                [
                    13.81,
                    13.92,
                    13.74,
                    14.04
                ],
                [
                    13.9,
                    13.73,
                    13.67,
                    13.91
                ],
                [
                    13.68,
                    13.59,
                    13.5,
                    13.83
                ],
                [
                    13.59,
                    13.62,
                    13.44,
                    13.67
                ],
                [
                    13.66,
                    13.93,
                    13.63,
                    14.03
                ],
                [
                    13.86,
                    13.67,
                    13.67,
                    13.86
                ],
                [
                    13.65,
                    13.68,
                    13.58,
                    13.74
                ],
                [
                    13.72,
                    13.8,
                    13.72,
                    14.02
                ],
                [
                    13.75,
                    13.51,
                    13.51,
                    13.76
                ],
                [
                    13.35,
                    13.13,
                    13.11,
                    13.48
                ],
                [
                    13.11,
                    13.1,
                    12.98,
                    13.21
                ],
                [
                    13.06,
                    12.75,
                    12.75,
                    13.07
                ],
                [
                    12.72,
                    12.84,
                    12.72,
                    13.02
                ],
                [
                    12.79,
                    12.85,
                    12.72,
                    12.86
                ],
                [
                    13.0,
                    13.05,
                    12.99,
                    13.1
                ],
                [
                    13.05,
                    12.91,
                    12.87,
                    13.07
                ],
                [
                    12.88,
                    12.77,
                    12.76,
                    12.92
                ],
                [
                    12.66,
                    12.49,
                    12.47,
                    12.67
                ],
                [
                    12.5,
                    12.57,
                    12.47,
                    12.61
                ],
                [
                    12.57,
                    12.38,
                    12.3,
                    12.58
                ],
                [
                    12.29,
                    12.28,
                    12.24,
                    12.44
                ],
                [
                    12.3,
                    12.06,
                    12.03,
                    12.33
                ],
                [
                    12.07,
                    12.41,
                    12.05,
                    12.65
                ],
                [
                    12.31,
                    12.2,
                    12.15,
                    12.48
                ],
                [
                    12.25,
                    12.49,
                    12.2,
                    12.52
                ],
                [
                    12.44,
                    12.43,
                    12.36,
                    12.71
                ],
                [
                    12.35,
                    12.29,
                    12.27,
                    12.46
                ],
                [
                    12.31,
                    12.34,
                    12.28,
                    12.49
                ],
                [
                    12.37,
                    12.44,
                    12.36,
                    12.5
                ],
                [
                    12.43,
                    12.45,
                    12.33,
                    12.47
                ],
                [
                    12.4,
                    12.35,
                    12.26,
                    12.48
                ],
                [
                    12.65,
                    13.12,
                    12.51,
                    13.2
                ],
                [
                    13.05,
                    13.25,
                    12.98,
                    13.38
                ],
                [
                    13.15,
                    13.05,
                    13.04,
                    13.29
                ],
                [
                    13.28,
                    13.25,
                    13.21,
                    13.57
                ],
                [
                    13.21,
                    13.18,
                    13.13,
                    13.27
                ],
                [
                    13.16,
                    12.96,
                    12.92,
                    13.18
                ],
                [
                    12.97,
                    13.08,
                    12.97,
                    13.17
                ],
                [
                    13.09,
                    13.11,
                    12.99,
                    13.19
                ],
                [
                    13.04,
                    13.01,
                    12.85,
                    13.14
                ],
                [
                    13.01,
                    13.05,
                    12.93,
                    13.1
                ],
                [
                    13.1,
                    12.71,
                    12.69,
                    13.11
                ],
                [
                    12.77,
                    12.82,
                    12.7,
                    13.03
                ],
                [
                    12.77,
                    13.07,
                    12.76,
                    13.09
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2023-05-16",
                "2023-05-17",
                "2023-05-18",
                "2023-05-19",
                "2023-05-22",
                "2023-05-23",
                "2023-05-24",
                "2023-05-25",
                "2023-05-26",
                "2023-05-29",
                "2023-05-30",
                "2023-05-31",
                "2023-06-01",
                "2023-06-02",
                "2023-06-05",
                "2023-06-06",
                "2023-06-07",
                "2023-06-08",
                "2023-06-09",
                "2023-06-12",
                "2023-06-13",
                "2023-06-14",
                "2023-06-15",
                "2023-06-16",
                "2023-06-19",
                "2023-06-20",
                "2023-06-21",
                "2023-06-26",
                "2023-06-27",
                "2023-06-28",
                "2023-06-29",
                "2023-06-30",
                "2023-07-03",
                "2023-07-04",
                "2023-07-05",
                "2023-07-06",
                "2023-07-07",
                "2023-07-10",
                "2023-07-11",
                "2023-07-12",
                "2023-07-13",
                "2023-07-14",
                "2023-07-17",
                "2023-07-18",
                "2023-07-19",
                "2023-07-20",
                "2023-07-21",
                "2023-07-24",
                "2023-07-25",
                "2023-07-26",
                "2023-07-27",
                "2023-07-28",
                "2023-07-31",
                "2023-08-01",
                "2023-08-02",
                "2023-08-03",
                "2023-08-04",
                "2023-08-07",
                "2023-08-08",
                "2023-08-09",
                "2023-08-10",
                "2023-08-11",
                "2023-08-14",
                "2023-08-15",
                "2023-08-16",
                "2023-08-17",
                "2023-08-18",
                "2023-08-21",
                "2023-08-22",
                "2023-08-23",
                "2023-08-24",
                "2023-08-25",
                "2023-08-28",
                "2023-08-29",
                "2023-08-30",
                "2023-08-31",
                "2023-09-01",
                "2023-09-04",
                "2023-09-05",
                "2023-09-06",
                "2023-09-07",
                "2023-09-08",
                "2023-09-11",
                "2023-09-12",
                "2023-09-13",
                "2023-09-14",
                "2023-09-15",
                "2023-09-18",
                "2023-09-19",
                "2023-09-20",
                "2023-09-21",
                "2023-09-22",
                "2023-09-25",
                "2023-09-26",
                "2023-09-27",
                "2023-09-28",
                "2023-10-09",
                "2023-10-10",
                "2023-10-11",
                "2023-10-12",
                "2023-10-13",
                "2023-10-16",
                "2023-10-17",
                "2023-10-18",
                "2023-10-19",
                "2023-10-20",
                "2023-10-23",
                "2023-10-24",
                "2023-10-25",
                "2023-10-26",
                "2023-10-27",
                "2023-10-30",
                "2023-10-31",
                "2023-11-01",
                "2023-11-02",
                "2023-11-03",
                "2023-11-06",
                "2023-11-07",
                "2023-11-08",
                "2023-11-09",
                "2023-11-10",
                "2023-11-13",
                "2023-11-14",
                "2023-11-15",
                "2023-11-16",
                "2023-11-17",
                "2023-11-20",
                "2023-11-21",
                "2023-11-22",
                "2023-11-23",
                "2023-11-24",
                "2023-11-27",
                "2023-11-28",
                "2023-11-29",
                "2023-11-30",
                "2023-12-01",
                "2023-12-04",
                "2023-12-05",
                "2023-12-06",
                "2023-12-07",
                "2023-12-08",
                "2023-12-11",
                "2023-12-12",
                "2023-12-13",
                "2023-12-14",
                "2023-12-15",
                "2023-12-18",
                "2023-12-19",
                "2023-12-20",
                "2023-12-21",
                "2023-12-22",
                "2023-12-25",
                "2023-12-26",
                "2023-12-27",
                "2023-12-28",
                "2023-12-29",
                "2024-01-02",
                "2024-01-03",
                "2024-01-04",
                "2024-01-05",
                "2024-01-08",
                "2024-01-09",
                "2024-01-10",
                "2024-01-11",
                "2024-01-12",
                "2024-01-15",
                "2024-01-16",
                "2024-01-17",
                "2024-01-18",
                "2024-01-19",
                "2024-01-22",
                "2024-01-23",
                "2024-01-24",
                "2024-01-25",
                "2024-01-26",
                "2024-01-29",
                "2024-01-30",
                "2024-01-31",
                "2024-02-01",
                "2024-02-02",
                "2024-02-05",
                "2024-02-06",
                "2024-02-07",
                "2024-02-08",
                "2024-02-19",
                "2024-02-20",
                "2024-02-21",
                "2024-02-22",
                "2024-02-23",
                "2024-02-26",
                "2024-02-27",
                "2024-02-28",
                "2024-02-29",
                "2024-03-01",
                "2024-03-04",
                "2024-03-05",
                "2024-03-06",
                "2024-03-07",
                "2024-03-08",
                "2024-03-11",
                "2024-03-12",
                "2024-03-13",
                "2024-03-14",
                "2024-03-15",
                "2024-03-18",
                "2024-03-19",
                "2024-03-20",
                "2024-03-21",
                "2024-03-22",
                "2024-03-25",
                "2024-03-26",
                "2024-03-27",
                "2024-03-28",
                "2024-03-29",
                "2024-04-01",
                "2024-04-02",
                "2024-04-03",
                "2024-04-08",
                "2024-04-09",
                "2024-04-10",
                "2024-04-11",
                "2024-04-12",
                "2024-04-15",
                "2024-04-16",
                "2024-04-17",
                "2024-04-18",
                "2024-04-19",
                "2024-04-22",
                "2024-04-23",
                "2024-04-24",
                "2024-04-25",
                "2024-04-26",
                "2024-04-29",
                "2024-04-30",
                "2024-05-06",
                "2024-05-07",
                "2024-05-08",
                "2024-05-09",
                "2024-05-10",
                "2024-05-13",
                "2024-05-14",
                "2024-05-15",
                "2024-05-16",
                "2024-05-17"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "K \u7ebf\u56fe - \u4ee3\u7801\uff1a300059",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "dataZoom": [
        [
            {
                "show": true,
                "type": "slider",
                "showDetail": true,
                "showDataShadow": true,
                "realtime": true,
                "start": 90,
                "end": 100,
                "orient": "horizontal",
                "zoomLock": false,
                "filterMode": "filter"
            },
            {
                "show": true,
                "type": "inside",
                "showDetail": true,
                "showDataShadow": true,
                "realtime": true,
                "start": 90,
                "end": 100,
                "orient": "horizontal",
                "zoomLock": false,
                "filterMode": "filter"
            }
        ]
    ]
};
        chart_49028d57ef9a454ab8988fcd896d05fc.setOption(option_49028d57ef9a454ab8988fcd896d05fc);
    </script>
</body>
</html>
